.navbar-fixed-top{text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);background: linear-gradient(110deg, rgb(66, 24, 135) 30%, rgb(166, 83, 255) 85%); color: #ffffff;} 
.page-header{margin: -10px 0px 20px; box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.75);}
small {color: #ffffff !important;}
.btn-info {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to bottom, #A653FF, #421887);
    background-repeat: repeat-x;
	border-color:#6e1fe4;
    border-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.25);
}
.btn-info:active{ background: linear-gradient(to bottom, #421887, #A653FF);}
.btn-info:hover{border-color:#18003f;}
.btn-info:focus{border-color:#18003f;}

.btn-danger{text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); background: linear-gradient(to bottom, #f66965, #7b0704);}
.btn-default{text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); background: linear-gradient(to bottom, #f0f0f0, #9b9b9b);}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(5, 5, 5, 0.1);
}

.addmode .editing {
  display:none;
}
.editmode .adding {
  display:none;
}
.form-group {
  position: relative;
}
.form-inline .form-control {
   width: 13em;
}
span.tooltip {
  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.75);
  position: absolute;
  background: #4f1da1;
  border-radius: 3px;
  bottom: 30px;
  left: 0;
  display: inline-block;
  width: auto;
  color: #fff;
  padding: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity .2s ease-in-out, bottom .3s ease-in-out;
  z-index: 10;
  font-size: 13px;
  font-weight: normal;
}
span.tooltip span {
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 8px 0px 8px;
  border-color: #4f1da1 transparent transparent transparent;
  position: absolute;
  bottom: -8px;
}
*[data-toggle="tooltip"] {
  position: relative;
}
